<div class="flex flex-col mt-20 justify-center items-center">
  @if (vm$ | async; as vm) {
    <form [formGroup]="formGroup">
      <mat-form-field class="w-full" [appearance]="'outline'">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="updateName(vm.user, vm.path)"
        [disabled]="formGroup.invalid"
        >
        Submit
      </button>
    </form>
  }
</div>
