<div class="grid grid-cols-3 sm:grid-cols-6 gap-3">
  @for (option of options; track option; let i = $index) {
  <button
    type="button"
    (click)="select(option)"
    class="card-btn aspect-[3/4]">
    <app-playing-card
      [value]="option"
      [index]="i"
      [isSelected]="option === selectedOption">
    </app-playing-card>
  </button>
  }
  @if (allowUnsure) {
  <button
    type="button"
    (click)="select(-1)"
    class="card-btn aspect-[3/4]">
    <app-playing-card
      [value]="-1"
      [index]="options.length"
      [isSelected]="selectedOption === -1">
    </app-playing-card>
  </button>
  }
</div>
